.new-tournament {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
}

.save-button {
  display: flex;
  justify-content: center;
}
