<div> <!-- *ngIf="userType === 'TeamManager'"-->
  <div class="title">
    <h1>Create a new tournament</h1>
  </div>
  <div class="new-tournament">
    <mat-form-field>
      <mat-label>Tournament Name</mat-label>
      <input matInput name="tournamentName" [(ngModel)]="inputName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tournament Format</mat-label>
      <input matInput name="tournamentFormat" [(ngModel)]="inputFormat">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tournament Sponsor</mat-label>
      <input matInput name="tournamentSponsor" [(ngModel)]="inputSponsor">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tournament Prize Pool</mat-label>
      <input matInput name="tournamentPrizePool" [(ngModel)]="inputPrizePool">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tournament Location</mat-label>
      <input matInput name="tournamentLocation" [(ngModel)]="inputLocation">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tournament Start Date</mat-label>
      <input matInput [matDatepicker]="startPicker" [(ngModel)]="inputStartDate">
      <mat-hint>Date format: MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tournament End Date</mat-label>
      <input matInput [matDatepicker]="endPicker" [(ngModel)]="inputEndDate">
      <mat-hint>Date format: MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Teams</mat-label>
      <mat-select [formControl]="teams" multiple>
        <mat-select-trigger>
          {{teams.value?.[0] || ''}}
          <span *ngIf="(teams.value?.length || 0) > 1" class="team-selector">
          (+{{(teams.value?.length || 0) - 1}} {{teams.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let team of teamsToSelect" [value]="team">{{team.teamName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="save-button">
      <button (click)="SaveTournament()">Save Tournament</button>
    </div>
  </div>
</div>
